
                 ___  _   _  ____   _   _  _____  ____    ____ 
                |_ _|| \ | ||  _ \ | | | ||_   _||  _ \  / ___|
                 | | |  \| || |_) || | | |  | |  | |_) || |    
                 | | | |\  ||  __/ | |_| |  | |  |  _ < | |___ 
                |___||_| \_||_|     \___/   |_|  |_| \_\ \____|
                                                               




# Use Vi style command editing
set editing-mode vi
set keymap vi-command

# Cycle through autocomplete options
bind TAB:menu-complete
